# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
.next/
out/

# Env files — JAMAIS sur GitHub
.env
.env.local
.env.production
**/.env
**/.env.local
**/.env.production

# Prisma
prisma/*.db

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
backend/uploads/
